* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
    font-family: 'Ubuntu', 'Arial';
    font-size: 1rem;
}

p {
    line-height: 1.5em;
    margin-bottom: 5px;
}

code {
    background-color: #e1e1e1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

pre {
    display: block;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

ul {
    padding-left: 30px;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
}

h1 > small {
    font-size: 0.5em;
    font-style: italic;
}

h2 {
    margin-bottom: 10px;
}

header {
    display: flex;
    flex-direction: row-reverse;
    background-color: #444;
    padding: 10px 10px 5px 10px;
}

header > img {
    width: 52px;
    height: 52px;
}

header > h1 {
    flex: 1;
    line-height: 52px;
    padding: 0 10px;
}

/* Home */

section {
    max-width: 800px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px auto 50px auto;
}

.sep {
    height: 1px;
    margin-bottom: 10px;
}

/* Error 404 */

.error404 {
    font-size: 3em;
    text-align: center;
    padding: 50px 20px;
}

.error404 > a {
    font-size: 0.7em;
    text-decoration: none;
    color: #0066cc;
}

.error404 > a:hover {
    opacity: 0.6;
}
