<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Index of {{URL}}</title>
    </head>
    <body>
        <h1>Index of {{URL}}</h1>
        <table>
            <tr>
                <th valign="top">&nbsp;</th>
                <th><a href="?C=N;O=D">Name</a></th>
                <th><a href="?C=M;O=A">Last modified</a></th>
                <th><a href="?C=S;O=A">Size</a></th>
                <th><a href="?C=D;O=A">Description</a></th>
            </tr>
            <tr>
                <th colspan="5"><hr /></th>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td><a href="..">Parent Directory</a></td>
                <td>&nbsp;</td>
                <td align="right">-</td>
                <td>&nbsp;</td>
            </tr>
            {{LINKS}}
            <tr>
                <th colspan="5"><hr /></th>
            </tr>
        </table>
    </body>
</html>
