<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="fr-FR">
<![endif]-->
<!--[if !(IE 8)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR">
    <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Se connecter &lsaquo; My Website &#8212; WordPress</title>
        <link rel="dns-prefetch" href="//s.w.org" />
        <link
            rel="stylesheet"
            id="dashicons-css"
            href="{{RESS}}/css/dashicons.min.css"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            id="buttons-css"
            href="{{RESS}}/css/buttons.min.css"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            id="forms-css"
            href="{{RESS}}/css/forms.min.css"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            id="l10n-css"
            href="{{RESS}}/css/l10n.min.css"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            id="login-css"
            href="{{RESS}}/css/login.min.css"
            type="text/css"
            media="all"
        />
        <meta name="robots" content="noindex,noarchive" />
        <meta name="referrer" content="strict-origin-when-cross-origin" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body class="login no-js login-action-login wp-core-ui  locale-fr-fr">
        <div id="login">
            <h1>
                <a href="https://fr.wordpress.org/">Propulsé par WordPress</a>
            </h1>

            <form
                name="loginform"
                id="loginform"
                action="/wp-login.php"
                method="post"
            >
                <p>
                    <label for="user_login"
                        >Identifiant ou adresse e-mail</label
                    >
                    <input
                        type="text"
                        name="log"
                        id="user_login"
                        class="input"
                        value=""
                        size="20"
                        autocapitalize="off"
                    />
                </p>

                <div class="user-pass-wrap">
                    <label for="user_pass">Mot de passe</label>
                    <div class="wp-pwd">
                        <input
                            type="password"
                            name="pwd"
                            id="user_pass"
                            class="input password-input"
                            value=""
                            size="20"
                        />
                        <button
                            type="button"
                            class="button button-secondary wp-hide-pw hide-if-no-js"
                            data-toggle="0"
                            aria-label="Afficher le mot de passe"
                        >
                            <span
                                class="dashicons dashicons-visibility"
                                aria-hidden="true"
                            ></span>
                        </button>
                    </div>
                </div>
                <p class="forgetmenot">
                    <input
                        name="rememberme"
                        type="checkbox"
                        id="rememberme"
                        value="forever"
                    />
                    <label for="rememberme">Se souvenir de moi</label>
                </p>
                <p class="submit">
                    <input
                        type="submit"
                        name="wp-submit"
                        id="wp-submit"
                        class="button button-primary button-large"
                        value="Se connecter"
                    />
                    <input
                        type="hidden"
                        name="redirect_to"
                        value="/wp-admin/"
                    />
                    <input type="hidden" name="testcookie" value="1" />
                </p>
            </form>

            <p id="nav">
                <a href="/index.php/my-account/lost-password/"
                    >Mot de passe oublié ?</a
                >
            </p>

            <p id="backtoblog">
                <a href="/">
                    &larr; Retour vers My Website
                </a>
            </p>
        </div>

        <div class="clear"></div>
    </body>
</html>
